
/**
 * Resets.
 */

@import 'necolas/normalize.css';
@import 'ianstormtaylor/reset';

/**
 * Base.
 */

* {
  box-sizing: border-box;
}

html {
  font-size: var(--text-medium);
  font-family: var(--text-sans);
  font-weight: var(--weight-light);
}