
/**
 * Sizes.
 */

:root {
  --size-tiny: 10px;
  --size-smaller: 15px;
  --size-small: 20px;
  --size-medium: 30px;
  --size-large: 60px;
  --size-larger: 90px;
  --size-huge: 120px;
}

/**
 * Columns.
 */

:root {
  --column-gutter: 60px;
  --column-whole: 1020px;
  --column-half: 480px;
  --column-third: 300px;
  --column-two-thirds: 660px;
  --column-quarter: 210px;
  --column-three-quarters: 750px;
}

/**
 * Borders.
 */

:root {
  --border-thin: 1px;
  --border-medium: 2px;
  --border-radius: 4px;
}
