
/**
 * Fern.
 */

:root {
  --fern-1: #70BF5A;
  --fern-2: #45A13F;
  --fern-3: #358A2F;
}

/**
 * Pine.
 */

:root {
  --pine-1: #089972;
  --pine-2: #268069;
  --pine-3: #156B54;
}

/**
 * Birch.
 */

:root {
  --birch-1: #FFFFFF;
  --birch-15: #FCFBF7;
  --birch-2: #FAF6ED;
  --birch-25: #F7F2E9;
  --birch-3: #F2ECDF;
  --birch-35: #EBE4D3;
}

/**
 * Wenge.
 */

:root {
  --wenge-1: #343331;
  --wenge-15: #403E3C;
  --wenge-2: #4D4946;
  --wenge-25: #5A5550;
  --wenge-3: #6D665C;
  --wenge-35: #897E70;
  --wenge-4: #A49581;
  --wenge-45: #BFB09A;
  --wenge-5: #CDC0AC;
  --wenge-55: #DDD0BC;
}

/**
 * Banana.
 */

:root {
  --banana-1: #FAC54B;
  --banana-2: #E8B02E;
  --banana-3: #D39B18;
}

/**
 * Tomato.
 */

:root {
  --tomato-1: #EB5C2D;
  --tomato-2: #D95026;
  --tomato-3: #CA461E;
}

/**
 * Eggplant.
 */

:root {
  --eggplant-1: #6050C6;
  --eggplant-2: #5142B3;
  --eggplant-3: #433896;
}

/**
 * Blueberry.
 */

:root {
  --blueberry-1: #258BD2;
  --blueberry-2: #1976B6;
  --blueberry-3: #10659F;
}

/**
 * Text colors.
 */

:root {
  --text-emphasized: var(--wenge-2);
  --text-primary: var(--wenge-3);
  --text-secondary: var(--wenge-4);
  --text-tertiary: var(--wenge-5);

  --dark-text-emphasized: var(--birch-2);
  --dark-text-primary: var(--birch-3);
  --dark-text-secondary: var(--wenge-4);
  --dark-text-tertiary: var(--wenge-5);
}

/**
 * Ground colors.
 */

:root {
  --ground-primary: var(--birch-1);
  --ground-secondary: var(--birch-15);
  --ground-tertiary: var(--birch-2);

  --dark-ground-primary: var(--wenge-1);
  --dark-ground-secondary: var(--wenge-2);
  --dark-ground-tertiary: var(--wenge-3);
}