{{> head}}
<div class="Summaries">
  <h2 class="Summaries-heading Heading Heading--section">Articles</h4>
  <ol class="Summaries-list">
    {{#each articles}}
    <li class="Summaries-list-item">
      {{> summary}}
    </li>
    {{/each}}
  </ol>
</div>
{{> foot}}